run {

    allocate auxiliary channel ch001 type disk;
    allocate auxiliary channel ch002 type disk;
    allocate auxiliary channel ch003 type disk;
    allocate auxiliary channel ch004 type disk;
    allocate auxiliary channel ch005 type disk;
    allocate auxiliary channel ch006 type disk;
    allocate auxiliary channel ch007 type disk;
    allocate auxiliary channel ch008 type disk;
    duplicate database to {{target.db_name}} nofilenamecheck
    BACKUP LOCATION '{{source.db_backup_path}}'
    SPFILE
    PARAMETER_VALUE_CONVERT '{{source.db_name}}','{{target.db_name}}'
    SET db_unique_name='{{target.db_unique_name}}'
    SET db_name='{{target.db_name}}'
    SET control_files='{{target.db_data_path}}/{{target.db_unique_name}}/CONTROLFILE/control01.ctl','{{target.db_fra_path}}/{{target.db_unique_name}}/CONTROLFILE/control02.ctl'
    SET db_file_name_convert='{{source.db_data_path}}/{{source.db_unique_name}}','{{target.db_data_path}}/{{target.db_unique_name}}'
    SET log_file_name_convert='{{source.db_data_path}}/{{source.db_unique_name}}','{{target.db_data_path}}/{{target.db_unique_name}}','{{source.db_fra_path}}/{{source.db_unique_name}}','{{target.db_fra_path}}/{{target.db_unique_name}}'
    SET cluster_database='false'
    SET use_large_pages='TRUE'
    SET diagnostic_dest='{{target.db_diagnostic_destination}}'
    SET remote_listener='{{target.db_remote_listener}}'
    SET service_names='{{target.db_name}}'
    SET utl_file_dir='{{target.db_utl_file_dir}}'
    SET sga_max_size='{{target.db_sga_max_size}}'
    SET sga_target='{{target.db_sga_target}}'
    SET pga_aggregate_target='{{target.db_pga_aggregate_target}}'
    RESET fal_client
    RESET fal_server
    RESET log_archive_dest_2
    RESET log_archive_config
    RESET dg_broker_config_file1
    RESET dg_broker_config_file2
    RESET dg_broker_start
    RESET db_create_file_dest
    RESET db_create_online_log_dest_1
    RESET db_create_online_log_dest_2;
}
